SECRET_KEY=your-secret-key-here
DEBUG=True
DB_NAME=Car_Loan
DB_USER=postgres
DB_PASSWORD=your-db-password-here
DB_HOST=127.0.0.1
DB_PORT=5432

GOOGLE_GEMINI_API_KEY=your-gemini-api-key
SOCIAL_AUTH_GOOGLE_OAUTH2_KEY=your-google-oauth-client-id
SOCIAL_AUTH_GOOGLE_OAUTH2_SECRET=your-google-oauth-client-secret
